@import "tailwindcss";
/* Font Setup */
body {
  font-family: 'Inter', sans-serif; /* For body text */
}

h1, h2, h3 {
  font-family: 'Merriweather', serif; /* For headings */
}

.hero-title, .special-heading {
  font-family: 'Prata', serif; /* For stylish headings */
}
